<style type="text/css">
/*WILL_PAGINATE*/
.pagination{
  margin-top: 25px;
}

.pagination em {
  background-color: transparent;
  border-color: #09183d;
  color: #09183d;
}
.pagination .current a {
  background-color: transparent;
  border-color: #09183d;
  color: #09183d;
}
.pagination .current{
  background-color: transparent;
  border-color: #09183d;
  color: #09183d;
}
.pagination .current:hover, .pagination .current:active, .pagination .current:focus {
  background-color: transparent;
  border-color: #09183d;
  color: #09183d;
}

.pagination a, .pagination em {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  border-top: 5px solid #f3f3f3;
  color: #5a5a5a;
  padding: 10px 20px;
}
.pagination a:hover, .pagination a:active, .pagination a:focus {
  background-color: transparent;
  border-color: #c7964f;
  color: #c7964f;
}
.pagination em:hover, .pagination em:active, .pagination em:focus {
  background-color: transparent;
  border-color: #c7964f;
  color: #c7964f;
}

.next_page, .previous_page {
  display: none;
}
/*WILL_PAGINATE*/


.tag.submit {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    background-color: #c7964f;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.tag.submit:hover{
    background-color: #cc6600;
}

.tag.submit:active{
    background-color: #663300;
}

.tag {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    background-color: #f2f2f2;
    display: inline-block;
    padding: 3px 8px;
    cursor: pointer;
}
.tag:hover {
    background-color: #d9d9d9;
    color: #000;
}
.tag:active {
    background-color: #bfbfbf;
    color: #000;
}

small{
  font-style: italic;
  color: #8c8c8c;
}

.btns{
  margin-left: 20px;
}

.hide-box{
  margin-top: 5px;
  display: none;
}

.hide-box input:focus{
  box-shadow:0px 0px 5px #c7964f;
   -webkit-box-shadow: 0px 0px 5px  #c7964f;
   -webkit-padding: 3px;
    
    border-width: 2px;
    border-color: transparent;
    border-style: inset;
  
   outline: 0;
}

/*Table 1*/
.table-post {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-post td,.table-post th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-post tr:nth-child(even) {
    background-color: #dddddd;
}

/*table 2*/
.table-reply {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #f2f2f2;
    margin: 5px;
    /*width: 100%;*/
}

.table-reply td,.table-reply th {
    border: 1px 1px 0px 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-reply tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<%= link_to 'Nova Postagem', new_post_path %>
<table id="table-post" class="table-post">
  <thead>
    <tr>
      <th>Mensagens</th>
    </tr>
  </thead>

  <tbody>
    <section>
      <% @posts.each do |post| %>
        <tr>
          <td>
            <small><%= post.created_at.strftime("%d/%m/%Y %H:%M") %></small> - <%= post.msg %>

            <!-- action buttons -->
              <a class="btns tag" onclick="showReply('td_<%= post.id %>')">Reply</a>
              <%= link_to 'Deletar', post, method: :delete, :class => "tag", data: { confirm: 'Deseja excluir?' } %>

            <!-- submit box hide -->
            <div id="td_<%= post.id %>" class="hide-box">
              <form id="reply-form" name="reply-form" method="post" action="reply_new">
                <input type="hidden" name="parent_id" value="<%= post.id %>">
                <input type="text" name="msg">
                <input class="tag submit" type="submit" value="Submit">
              </form>
            </div>

            <!-- replies loop -->
            <% if @replies.where(:parent_id => post.id).count > 0 %>
              <table id="table-reply" class="table-reply">
                <% @replies.where(:parent_id => post.id).each do |reply| %>
                  <tr>
                    <td>
                      |> <small><%= reply.created_at.strftime("%d/%m/%Y %H:%M") %></small> - <%= reply.msg %>

                      <!-- action buttons -->
                        <a class="btns tag" onclick="showReply('td_<%= reply.id %>')">Reply</a>
                        <%= link_to 'Deletar', post, method: :delete, :class => "tag", data: { confirm: 'Deseja excluir?' } %>

                      <!-- submit box hide -->
                      <div id="td_<%= reply.id %>" class="hide-box">
                        <form id="reply-form" name="reply-form" method="post" action="reply_new">
                          <input type="hidden" name="parent_id" value="<%= reply.id %>">
                          <input type="text" name="msg">
                          <input class="tag submit" type="submit" value="Submit">
                        </form>
                      </div>

                      <!-- re-replies loop -->
                      <% if @replies.where(:parent_id => reply.id).count > 0 %>
                        <table id="table-reply" class="table-reply">
                          <% @replies.where(:parent_id => reply.id).each do |rereply| %>
                            <tr>
                              <td>
                                |> <small><%= rereply.created_at.strftime("%d/%m/%Y %H:%M") %></small> - <%= rereply.msg %>

                                <!-- action buttons -->
                                <%= link_to 'Deletar', post, method: :delete, :class => "btns tag", data: { confirm: 'Deseja excluir?' } %>
                                </td>
                            </tr>
                          <% end %>
                        </table>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>
          </td>
        </tr>
      <% end %>
    </section>
  </tbody>
</table>
<%= will_paginate @posts %>
<br>


<!-- <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script> -->

<script type="text/javascript">
  function showReply(td_id){
    if (document.getElementById(td_id).style.display == "block")
      document.getElementById(td_id).style.display = "none";
    else
      document.getElementById(td_id).style.display = "block";
  }

  $('#reply-form').on('submit', function(data){
    var $form = $(data);
    $.ajax({
      url     : $form.attr('action'),
      type    : $form.attr('method'),
      data    : $form.serialize(),
      success : function(response) {
          if (response == false) {
            alert('could not submit!')
          }
        }
    });
  });
</script>
