<p id="notice"><%= notice %></p>

<h1>Postagens</h1>
<%= link_to 'Ver Respostas', "/list_reply", :class => "btn red" %>
<!-- submit box hide -->
<div id="new_post">
  <form id="post-form" name="post-form" method="post" action="post_new">
    <textarea name="msg"></textarea>
    <input class="btn submit" type="submit" value="Postar">
  </form>
</div>
<table id="table-post" class="table-post">
  <thead>
    <tr>
      <th>Mensagens</th>
    </tr>
  </thead>

  <tbody>
    <section>
      <% @posts.each do |post| %>
        <tr>
          <td>
            # <small><%= post.created_at.strftime("%d/%m/%Y %H:%M") %></small> - <%= post.msg %>

            <!-- action buttons -->
              <%= link_to 'Deletar', post, method: :delete, :class => "btns btn", data: { confirm: 'Deseja excluir?' } %>
          </td>
        </tr>
      <% end %>
    </section>
  </tbody>
</table>
<%= will_paginate @posts %>
<br>


<!-- <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script> -->

<script type="text/javascript">
  function showReply(td_id){
    if (document.getElementById(td_id).style.display == "block")
      document.getElementById(td_id).style.display = "none";
    else
      document.getElementById(td_id).style.display = "block";
  }

  $('#post-form').on('submit', function(data){
    var $form = $(data);
    $.ajax({
      url     : $form.attr('action'),
      type    : $form.attr('method'),
      data    : $form.serialize(),
      success : function(response) {
          if (response == false) {
            alert('could not submit!')
          }
        }
    });
  });

  $('#reply-form').on('submit', function(data){
    var $form = $(data);
    $.ajax({
      url     : $form.attr('action'),
      type    : $form.attr('method'),
      data    : $form.serialize(),
      success : function(response) {
          if (response == false) {
            alert('could not submit!')
          }
        }
    });
  });
</script>
